{{#energy}}
	{{#electricity_production}}<div class="medium-3 columns"><span class="stat">electricity_production</span><p>{{ electricity_production }}</p></div>{{/electricity_production}}
	{{#electricity_consumption}}<div class="medium-3 columns"><span class="stat">electricity_consumption</span><p>{{ electricity_consumption }}</p></div>{{/electricity_consumption}}
	{{#electricity_exports}}<div class="medium-3 columns"><span class="stat">electricity_exports</span><p>{{ electricity_exports }}</p></div>{{/electricity_exports}}
	{{#electricity_imports}}<div class="medium-3 columns"><span class="stat">electricity_imports</span><p>{{ electricity_imports }}</p></div>{{/electricity_imports}}
	{{#electricity_generating_capacity}}<div class="medium-3 columns"><span class="stat">electricity_generating_capacity</span><p>{{ electricity_generating_capacity }}</p></div>{{/electricity_generating_capacity}}
	{{#electricity_fossil_fuels}}<div class="medium-3 columns"><span class="stat">electricity_fossil_fuels</span><p>{{ electricity_fossil_fuels }}</p></div>{{/electricity_fossil_fuels}}
	{{#electricity_nuclear}}<div class="medium-3 columns"><span class="stat">electricity_nuclear</span><p>{{ electricity_nuclear }}</p></div>{{/electricity_nuclear}}
	{{#electricity_hydroelectric}}<div class="medium-3 columns"><span class="stat">electricity_hydroelectric</span><p>{{ electricity_hydroelectric }}</p></div>{{/electricity_hydroelectric}}
	{{#electricity_renewable}}<div class="medium-3 columns"><span class="stat">electricity_renewable</span><p>{{ electricity_renewable }}</p></div>{{/electricity_renewable}}
	{{#crude_oil_production}}<div class="medium-3 columns"><span class="stat">crude_oil_production</span><p>{{ crude_oil_production }}</p></div>{{/crude_oil_production}}
	{{#crude_oil_exports}}<div class="medium-3 columns"><span class="stat">crude_oil_exports</span><p>{{ crude_oil_exports }}</p></div>{{/crude_oil_exports}}
	{{#crude_oil_imports}}<div class="medium-3 columns"><span class="stat">crude_oil_imports</span><p>{{ crude_oil_imports }}</p></div>{{/crude_oil_imports}}
	{{#crude_oil_reserves}}<div class="medium-3 columns"><span class="stat">crude_oil_reserves</span><p>{{ crude_oil_reserves }}</p></div>{{/crude_oil_reserves}}
	{{#petrol_production}}<div class="medium-3 columns"><span class="stat">petrol_production</span><p>{{ petrol_production }}</p></div>{{/petrol_production}}
	{{#petrol_consumption}}<div class="medium-3 columns"><span class="stat">petrol_consumption</span><p>{{ petrol_consumption }}</p></div>{{/petrol_consumption}}
	{{#petrol_exports}}<div class="medium-3 columns"><span class="stat">petrol_exports</span><p>{{ petrol_exports }}</p></div>{{/petrol_exports}}
	{{#petrol_imports}}<div class="medium-3 columns"><span class="stat">petrol_imports</span><p>{{ petrol_imports }}</p></div>{{/petrol_imports}}
	{{#natural_gas_production}}<div class="medium-3 columns"><span class="stat">natural_gas_production</span><p>{{ natural_gas_production }}</p></div>{{/natural_gas_production}}
	{{#natural_gas_consumption}}<div class="medium-3 columns"><span class="stat">natural_gas_consumption</span><p>{{ natural_gas_consumption }}</p></div>{{/natural_gas_consumption}}
	{{#natural_gas_exports}}<div class="medium-3 columns"><span class="stat">natural_gas_exports</span><p>{{ natural_gas_exports }}</p></div>{{/natural_gas_exports}}
	{{#natural_gas_imports}}<div class="medium-3 columns"><span class="stat">natural_gas_imports</span><p>{{ natural_gas_imports }}</p></div>{{/natural_gas_imports}}
	{{#natural_gas_reserves}}<div class="medium-3 columns"><span class="stat">natural_gas_reserves</span><p>{{ natural_gas_reserves }}</p></div>{{/natural_gas_reserves}}
	{{#co2_output}}<div class="medium-3 columns"><span class="stat">co2_output</span><p>{{ co2_output }}</p></div>{{/co2_output}}
{{/energy}}