{{#government}}
	<div class="row">
		{{#name}}<div class="medium-8 columns centered"><span class="stat">name</span><p>{{ name }}</p></div>{{/name}}
		<div class="row">
			{{#administrative_divisions}}<div class="medium-8 columns"><span class="description">administrative_divisions</span><p>{{ administrative_divisions }}</p></div>{{/administrative_divisions}}
			{{#administrative_divisions_note}}<div class="medium-4 columns"><span class="description">administrative_divisions_note</span><p>{{ administrative_divisions_note }}</p></div>{{/administrative_divisions_note}}
		</div>
		{{#conventional_long_form}}<div class="medium-3 columns"><span class="description">conventional_long_form</span><p>{{ conventional_long_form }} </p></div>{{/conventional_long_form}}
		{{#conventional_short_form}}<div class="medium-3 columns"><span class="description">conventional_short_form</span><p>{{ conventional_short_form }}</p></div>{{/conventional_short_form}}
		{{#name_etymology}}<div class="medium-3 columns"><span class="description">name_etymology</span><p>{{ name_etymology }}</p></div>{{/name_etymology}}
		{{#government_type}}<div class="medium-3 columns"><span class="description">government_type</span><p>{{ government_type }}</p></div>{{/government_type}}
		{{#capital}}<div class="medium-3 columns"><span class="stat">capital</span><p>{{ capital }}</p></div>{{/capital}}
		{{#capital_coordinates}}<div class="medium-3 columns"><span class="stat">capital_coordinates</span><p>{{ capital_coordinates }}</p></div>{{/capital_coordinates}}
		{{#capital_time_zone}}<div class="medium-3 columns"><span class="description">capital_time_zone</span><p>{{ capital_time_zone }}</p></div>{{/capital_time_zone}}
		<div class="row">
			{{#independence}}<div class="medium-3 columns"><span class="stat">independence</span><p>{{ independence }}</p></div>{{/independence}}
			{{#national_holiday}}<div class="medium-3 columns"><span class="stat">national_holiday</span><p>{{ national_holiday }}</p></div>{{/national_holiday}}
			{{#constitution}}<div class="medium-3 columns"><span class="description">constitution</span><p>{{ constitution }}</p></div>{{/constitution}}
			{{#legal_system}}<div class="medium-3 columns"><span class="stat">legal_system</span><p>{{ legal_system }}</p></div>{{/legal_system}}
			{{#citizenship}}<div class="medium-3 columns"><span class="stat">citizenship</span><p>{{ citizenship }}</p></div>{{/citizenship}}
			{{#suffrage}}<div class="medium-3 columns"><span class="stat">suffrage</span><p>{{ suffrage }}</p></div>{{/suffrage}}
			{{#executive_chief_of_state}}<div class="medium-3 columns"><span class="description">executive_chief_of_state</span><p>{{ executive_chief_of_state }}</p></div>{{/executive_chief_of_state}}
			{{#executive_head_of_government}}<div class="medium-3 columns"><span class="description">executive_head_of_government</span><p>{{ executive_head_of_government }}</p></div>{{/executive_head_of_government}}
			{{#executive_cabinet}}<div class="medium-3 columns"><span class="description">executive_cabinet</span><p>{{ executive_cabinet }}</p></div>{{/executive_cabinet}}
			{{#executive_elections}}<div class="medium-3 columns"><span class="description">executive_elections</span><p>{{ executive_elections }}</p></div>{{/executive_elections}}
			{{#executive_election_results}}<div class="medium-3 columns"><span class="description">executive_election_results</span><p>{{ executive_election_results }}</p></div>{{/executive_election_results}}
			{{#legislative_description}}<div class="medium-3 columns"><span class="description">legislative_description</span><p>{{ legislative_description }}</p></div>{{/legislative_description}}
			{{#legislative_elections}}<div class="medium-3 columns"><span class="description">legislative_elections</span><p>{{ legislative_elections }}</p></div>{{/legislative_elections}}
			{{#legislative_election_results}}<div class="medium-3 columns"><span class="description">legislative_election_results</span><p>{{ legislative_election_results }}</p></div>{{/legislative_election_results}}
			{{#legislative_highest_courts}}<div class="medium-3 columns"><span class="description">legislative_highest_courts</span><p>{{ legislative_highest_courts }}</p></div>{{/legislative_highest_courts}}
			{{#legislative_judge_selection}}<div class="medium-6 columns"><span class="description">legislative_judge_selection</span><p>{{ legislative_judge_selection }}</p></div>{{/legislative_judge_selection}}
			{{#legislative_subordinate_courts}}<div class="medium-3 columns"><span class="description">legislative_subordinate_courts</span><p>{{ legislative_subordinate_courts }}</p></div>{{/legislative_subordinate_courts}}
			{{#political_parties}}<div class="medium-3 columns"><span class="description">political_parties</span><p>{{ political_parties }}</p></div>{{/political_parties}}
			{{#political_pressure}}<div class="medium-3 columns"><span class="description">political_pressure</span><p>{{ political_pressure }}</p></div>{{/political_pressure}}
			{{#international_organization_participation}}<div class="medium-3 columns"><span class="description">international_organization_participation</span><p>{{ international_organization_participation }}</p></div>{{/international_organization_participation}}
			{{#diplomatic_representation_in_usa}}<div class="medium-3 columns"><span class="description">diplomatic_representation_in_usa</span><p>{{ diplomatic_representation_in_usa }}</p></div>{{/diplomatic_representation_in_usa}}
			{{#diplomatic_representation_from_usa}}<div class="medium-3 columns"><span class="description">diplomatic_representation_from_usa</span><p>{{ diplomatic_representation_from_usa }}</p></div>{{/diplomatic_representation_from_usa}}
			{{#flag_description}}<div class="medium-3 columns"><span class="description">flag_description</span><p>{{ flag_description }}</p></div>{{/flag_description}}
			{{#national_symbols}}<div class="medium-3 columns"><span class="description">national_symbols</span><p>{{ national_symbols }}</p></div>{{/national_symbols}}
			{{#national_anthem}}<div class="medium-3 columns"><span class="description">national_anthem</span><p>{{ national_anthem }}</p></div>{{/national_anthem}}
		</div>
	</div>
{{/government}}