{{#issues}}
	{{#international_disputes}}<div class="medium-4 columns"><div class="description">{{ international_disputes }}</div><p>{{ international_disputes }}</p></div>{{/international_disputes}}
	{{#illicit_drugs}}<div class="medium-4 columns"><div class="description">{{ illicit_drugs }}</div><p>{{ illicit_drugs }}</p></div>{{/illicit_drugs}}
	{{#refugees}}<div class="medium-4 columns"><div class="description">{{ refugees }}</div><p>{{ refugees }}</p></div>{{/refugees}}
{{/issues}}