{{#economy}}
	<div class="row">
		{{#overview}}<div class="medium-3 columns"><div class="stat">economic_overview</div><p>{{ overview }}</p></div>{{/overview}}
		{{#gdp_power_parity}}<div class="medium-3 columns"><div class="stat">gdp_power_parity</div><p>{{ gdp_power_parity }}</p></div>{{/gdp_power_parity}}
		{{#gdp_real_growth}}<div class="medium-3 columns"><div class="stat">gdp_real_growth</div><p>{{ gdp_real_growth }}</p></div>{{/gdp_real_growth}}
		{{#gdp_per_capita}}<div class="medium-3 columns"><div class="stat">gdp_per_capita</div><p>{{ gdp_per_capita }}</p></div>{{/gdp_per_capita}}
		{{#gdp_household_consumption}}<div class="medium-3 columns"><div class="stat">gdp_household_consumption</div><p>{{ gdp_household_consumption }}</p></div>{{/gdp_household_consumption}}
		{{#gdp_consumption}}<div class="medium-3 columns"><div class="stat">gdp_consumption</div><p>{{ gdp_consumption }}</p></div>{{/gdp_consumption}}
		{{#gdp_investment_in_fixed_capital}}<div class="medium-3 columns"><div class="stat">gdp_investment_in_fixed_capital</div><p>{{ gdp_investment_in_fixed_capital }}</p></div>{{/gdp_investment_in_fixed_capital}}
		{{#gdp_investment_in_inventories}}<div class="medium-3 columns"><div class="stat">gdp_investment_in_inventories</div><p>{{ gdp_investment_in_inventories }}</p></div>{{/gdp_investment_in_inventories}}
		{{#gdp_exports}}<div class="medium-3 columns"><div class="stat">gdp_exports</div><p>{{ gdp_exports }}</p></div>{{/gdp_exports}}
		{{#gdp_imports}}<div class="medium-3 columns"><div class="stat">gdp_imports</div><p>{{ gdp_imports }}</p></div>{{/gdp_imports}}
		{{#gdp_sector_agriculture}}<div class="medium-3 columns"><div class="stat">gdp_sector_agriculture</div><p>{{ gdp_sector_agriculture }}</p></div>{{/gdp_sector_agriculture}}
		{{#gdp_sector_industry}}<div class="medium-3 columns"><div class="stat">gdp_sector_industry</div><p>{{ gdp_sector_industry }}</p></div>{{/gdp_sector_industry}}
		{{#gdp_sector_services}}<div class="medium-3 columns"><div class="stat">gdp_sector_services</div><p>{{ gdp_sector_services }}</p></div>{{/gdp_sector_services}}
		{{#agriculture_products}}<div class="medium-3 columns"><div class="stat">agriculture_products</div><p>{{ agriculture_products }}</p></div>{{/agriculture_products}}
		{{#industries}}<div class="medium-3 columns"><div class="stat">industries</div><p>{{ industries }}</p></div>{{/industries}}
		{{#industrial_growth_rate}}<div class="medium-3 columns"><div class="stat">industrial_growth_rate</div><p>{{ industrial_growth_rate }}</p></div>{{/industrial_growth_rate}}
		{{#labor_force}}<div class="medium-3 columns"><div class="stat">labor_force</div><p>{{ labor_force }}</p></div>{{/labor_force}}
		{{#labor_force_notes}}<div class="medium-3 columns"><div class="stat">labor_force_notes</div><p>{{ labor_force_notes }}</p></div>{{/labor_force_notes}}
		{{#labor_force_services}}<div class="medium-3 columns"><div class="stat">labor_force_services</div><p>{{ labor_force_services }}</p></div>{{/labor_force_services}}
		{{#labor_force_industry}}<div class="medium-3 columns"><div class="stat">labor_force_industry</div><p>{{ labor_force_industry }}</p></div>{{/labor_force_industry}}
		{{#labor_force_agriculture}}<div class="medium-3 columns"><div class="stat">labor_force_agriculture</div><p>{{ labor_force_agriculture }}</p></div>{{/labor_force_agriculture}}
		{{#labor_force_occupation_notes}}<div class="medium-3 columns"><div class="stat">labor_force_occupation_notes</div><p>{{ labor_force_occupation_notes }}</p></div>{{/labor_force_occupation_notes}}
		{{#unemployment_rate}}<div class="medium-3 columns"><div class="stat">unemployment_rate</div><p>{{ unemployment_rate }}</p></div>{{/unemployment_rate}}
		{{#population_below_poverty}}<div class="medium-3 columns"><div class="stat">population_below_poverty</div><p>{{ population_below_poverty }}</p></div>{{/population_below_poverty}}
		{{#household_income_lowest_10}}<div class="medium-3 columns"><div class="stat">household_income_lowest_10</div><p>{{ household_income_lowest_10 }}</p></div>{{/household_income_lowest_10}}
		{{#household_income_highest_10}}<div class="medium-3 columns"><div class="stat">household_income_highest_10</div><p>{{ household_income_highest_10 }}</p></div>{{/household_income_highest_10}}
		{{#budget_revenues}}<div class="medium-3 columns"><div class="stat">budget_revenues</div><p>{{ budget_revenues }}</p></div>{{/budget_revenues}}
		{{#taxes_revenues}}<div class="medium-3 columns"><div class="stat">taxes_revenues</div><p>{{ taxes_revenues }}</p></div>{{/taxes_revenues}}
		{{#budget_net}}<div class="medium-3 columns"><div class="stat">budget_net</div><p>{{ budget_net }}</p></div>{{/budget_net}}
		{{#public_debt}}<div class="medium-3 columns"><div class="stat">public_debt</div><p>{{ public_debt }}</p></div>{{/public_debt}}
		{{#external_debt}}<div class="medium-3 columns"><div class="stat">external_debt</div><p>{{ external_debt }}</p></div>{{/external_debt}}
		{{#fiscal_year}}<div class="medium-3 columns"><div class="stat">fiscal_year</div><p>{{ fiscal_year }}</p></div>{{/fiscal_year}}
		{{#inflation_rate}}<div class="medium-3 columns"><div class="stat">inflation_rate</div><p>{{ inflation_rate }}</p></div>{{/inflation_rate}}
		{{#central_bank_discount_rate}}<div class="medium-3 columns"><div class="stat">central_bank_discount_rate</div><p>{{ central_bank_discount_rate }}</p></div>{{/central_bank_discount_rate}}
		{{#commercial_bank_prime_lending_rate}}<div class="medium-3 columns"><div class="stat">commercial_bank_prime_lending_rate</div><p>{{ commercial_bank_prime_lending_rate }}</p></div>{{/commercial_bank_prime_lending_rate}}
		{{#stock_money_narrow}}<div class="medium-3 columns"><div class="stat">stock_money_narrow</div><p>{{ stock_money_narrow }}</p></div>{{/stock_money_narrow}}
		{{#stock_money_broad}}<div class="medium-3 columns"><div class="stat">stock_money_broad</div><p>{{ stock_money_broad }}</p></div>{{/stock_money_broad}}
		{{#stock_domestic_credit}}<div class="medium-3 columns"><div class="stat">stock_domestic_credit</div><p>{{ stock_domestic_credit }}</p></div>{{/stock_domestic_credit}}
		{{#exports}}<div class="medium-3 columns"><div class="stat">exports</div><p>{{ exports }}</p></div>{{/exports}}
		{{#exports_commodities}}<div class="medium-3 columns"><div class="stat">exports_commodities</div><p>{{ exports_commodities }}</p></div>{{/exports_commodities}}
		{{#exports_partners}}<div class="medium-3 columns"><div class="stat">exports_partners</div><p>{{ exports_partners }}</p></div>{{/exports_partners}}
		{{#imports}}<div class="medium-3 columns"><div class="stat">imports</div><p>{{ imports }}</p></div>{{/imports}}
		{{#imports_commodities}}<div class="medium-3 columns"><div class="stat">imports_commodities</div><p>{{ imports_commodities }}</p></div>{{/imports_commodities}}
		{{#imports_partners}}<div class="medium-3 columns"><div class="stat">imports_partners</div><p>{{ imports_partners }}</p></div>{{/imports_partners}}
	</div>
{{/economy}}