<h1>GEOGRAPHY SECTION</h1>

{{#country_id}}
	<b>country id</b>
	<p>{{country_id}}</p>
{{/country_id}}

{{#location_description}}
	<b>=Location Description</b>
	<p>{{location_description}}</p>
{{/location_description}}

{{#latitude}}
	<b>Latitude</b>
	<p>{{latitude}}</p>
{{/latitude}}

{{#longitude}}
	<b>Longitude</b>
	<p>{{longitude}}</p>
{{/longitude}}

{{#mapReferences}}
	<b>Map References</b>
	<p>{{mapReferences}}</p>
{{/mapReferences}}

{{#area_sqkm_total}}
	<b>Area sqkm Total</b>
	<p>{{area_sqkm_total}}</p>
{{/area_sqkm_total}}

{{#area_sqkm_land}}
	<b>Area sqkm Land</b>
	<p>{{area_sqkm_land}}</p>
{{/area_sqkm_land}}

{{#area_sqkm_water}}
	<b>Area sqkm Water</b>
	<p>{{area_sqkm_water}}</p>
{{/area_sqkm_water}}

{{#area_km_coastline}}
	<b>Area km Coastline</b>
	<p>{{area_km_coastline}}</p>
{{/area_km_coastline}}

{{#area_note}}
	<b>Area Note</b>
	<p>{{area_note}}</p>
{{/area_note}}

{{#climate}}
	<b>Climate</b>
	<p>{{climate}}</p>
{{/climate}}

{{#terrain}}
	<b>Terrain</b>
	<p>{{terrain}}</p>
{{/terrain}}

{{#hazards}}
	<b>Hazards</b>
	<p>{{hazards}}</p>
{{/hazards}}

{{#notes}}
	<b>Notes</b>
	<p>{{notes}}</p>
{{/notes}}