{{#people}}
	{{#population}}<div class="medium-3 columns"><div class="stat">{{ population }}</div><p>Population</p></div>{{/population}}
	{{#population_date}}<div class="medium-3 columns"><div class="stat">{{ population_date }}</div><p>Population</p></div>{{/population_date}}
	{{#nationality_noun}}<div class="medium-3 columns"><div class="stat">{{ nationality_noun }}</div><p>Nationality</p></div>{{/nationality_noun}}
	{{#nationality_adjective}}<div class="medium-3 columns"><div class="stat">{{ nationality_adjective }}</div><p>Nationality</p></div>{{/nationality_adjective}}
	{{#age_structure_14}}<div class="medium-3 columns"><div class="stat">{{ age_structure_14 }}</div><p>age_structure_14</p></div>{{/age_structure_14}}
	{{#age_structure_24}}<div class="medium-3 columns"><div class="stat">{{ age_structure_24 }}</div><p>age_structure_24</p></div>{{/age_structure_24}}
	{{#age_structure_54}}<div class="medium-3 columns"><div class="stat">{{ age_structure_54 }}</div><p>age_structure_54</p></div>{{/age_structure_54}}
	{{#age_structure_64}}<div class="medium-3 columns"><div class="stat">{{ age_structure_64 }}</div><p>age_structure_64</p></div>{{/age_structure_64}}
	{{#age_structure_65}}<div class="medium-3 columns"><div class="stat">{{ age_structure_65 }}</div><p>age_structure_65</p></div>{{/age_structure_65}}
	{{#dependency_total}}<div class="medium-3 columns"><div class="stat">{{ dependency_total }}</div><p>dependency_total</p></div>{{/dependency_total}}
	{{#dependency_youth}}<div class="medium-3 columns"><div class="stat">{{ dependency_youth }}</div><p>dependency_youth</p></div>{{/dependency_youth}}
	{{#dependency_elder}}<div class="medium-3 columns"><div class="stat">{{ dependency_elder }}</div><p>dependency_elder</p></div>{{/dependency_elder}}
	{{#dependency_potential}}<div class="medium-3 columns"><div class="stat">{{ dependency_potential }}</div><p>dependency_potential</p></div>{{/dependency_potential}}
	{{#median_age_total}}<div class="medium-3 columns"><div class="stat">{{ median_age_total }}</div><p>median_age_total</p></div>{{/median_age_total}}
	{{#median_age_male}}<div class="medium-3 columns"><div class="stat">{{ median_age_male }}</div><p>median_age_male</p></div>{{/median_age_male}}
	{{#median_age_female}}<div class="medium-3 columns"><div class="stat">{{ median_age_female }}</div><p>median_age_female</p></div>{{/median_age_female}}
	{{#population_growth_rate_percentage}}<div class="medium-3 columns"><div class="stat">{{ population_growth_rate_percentage }}</div><p>population_growth_rate_percentage</p></div>{{/population_growth_rate_percentage}}
	{{#birth_rate_per_1k}}<div class="medium-3 columns"><div class="stat">{{ birth_rate_per_1k }}</div><p>birth_rate_per_1k</p></div>{{/birth_rate_per_1k}}
	{{#death_rate_per_1k}}<div class="medium-3 columns"><div class="stat">{{ death_rate_per_1k }}</div><p>death_rate_per_1k</p></div>{{/death_rate_per_1k}}
	{{#net_migration_per_1k}}<div class="medium-3 columns"><div class="stat">{{ net_migration_per_1k }}</div><p>net_migration_per_1k</p></div>{{/net_migration_per_1k}}
	{{#population_distribution}}<div class="medium-3 columns"><div class="stat">{{ population_distribution }}</div><p>population_distribution</p></div>{{/population_distribution}}
	{{#sex_ratio_birth}}<div class="medium-3 columns"><div class="stat">{{ sex_ratio_birth }}</div><p>population_distribution</p></div>{{/sex_ratio_birth}}
	{{#sex_ratio_14}}<div class="medium-3 columns"><div class="stat">{{ sex_ratio_14 }}</div><p>sex_ratio_birth</p></div>{{/sex_ratio_14}}
	{{#sex_ratio_24}}<div class="medium-3 columns"><div class="stat">{{ sex_ratio_24 }}</div><p>sex_ratio_14</p></div>{{/sex_ratio_24}}
	{{#sex_ratio_54}}<div class="medium-3 columns"><div class="stat">{{ sex_ratio_54 }}</div><p>sex_ratio_24</p></div>{{/sex_ratio_54}}
	{{#sex_ratio_64}}<div class="medium-3 columns"><div class="stat">{{ sex_ratio_64 }}</div><p>sex_ratio_54</p></div>{{/sex_ratio_64}}
	{{#sex_ratio_65}}<div class="medium-3 columns"><div class="stat">{{ sex_ratio_65 }}</div><p>sex_ratio_64</p></div>{{/sex_ratio_65}}
	{{#sex_ratio_total}}<div class="medium-3 columns"><div class="stat">{{ sex_ratio_total }}</div><p>sex_ratio_65</p></div>{{/sex_ratio_total}}
	{{#mother_age_first_birth}}<div class="medium-3 columns"><div class="stat">{{ mother_age_first_birth }}</div><p>sex_ratio_total</p></div>{{/mother_age_first_birth}}
	{{#maternal_mortality_rate}}<div class="medium-3 columns"><div class="stat">{{ maternal_mortality_rate }}</div><p>mother_age_first_birth</p></div>{{/maternal_mortality_rate}}
	{{#infant_mortality_per_1k_total}}<div class="medium-3 columns"><div class="stat">{{ infant_mortality_per_1k_total }}</div><p>maternal_mortality_rate</p></div>{{/infant_mortality_per_1k_total}}
	{{#infant_mortality_per_1k_male}}<div class="medium-3 columns"><div class="stat">{{ infant_mortality_per_1k_male }}</div><p>infant_mortality_per_1k_total</p></div>{{/infant_mortality_per_1k_male}}
	{{#infant_mortality_per_1k_female}}<div class="medium-3 columns"><div class="stat">{{ infant_mortality_per_1k_female }}</div><p>infant_mortality_per_1k_male</p></div>{{/infant_mortality_per_1k_female}}
	{{#life_expectancy_at_birth_total}}<div class="medium-3 columns"><div class="stat">{{ life_expectancy_at_birth_total }}</div><p>infant_mortality_per_1k_female</p></div>{{/life_expectancy_at_birth_total}}
	{{#life_expectancy_at_birth_male}}<div class="medium-3 columns"><div class="stat">{{ life_expectancy_at_birth_male }}</div><p>life_expectancy_at_birth_total</p></div>{{/life_expectancy_at_birth_male}}
	{{#life_expectancy_at_birth_female}}<div class="medium-3 columns"><div class="stat">{{ life_expectancy_at_birth_female }}</div><p>life_expectancy_at_birth_male</p></div>{{/life_expectancy_at_birth_female}}
	{{#total_fertility_rate}}<div class="medium-3 columns"><div class="stat">{{ total_fertility_rate }}</div><p>life_expectancy_at_birth_female</p></div>{{/total_fertility_rate}}
	{{#contraceptive_prevalence}}<div class="medium-3 columns"><div class="stat">{{ contraceptive_prevalence }}</div><p>total_fertility_rate</p></div>{{/contraceptive_prevalence}}
	{{#health_expenditures}}<div class="medium-3 columns"><div class="stat">{{ health_expenditures }}</div><p>contraceptive_prevalence</p></div>{{/health_expenditures}}
	{{#physicians}}<div class="medium-3 columns"><div class="stat">{{ physicians }}</div><p>health_expenditures</p></div>{{/physicians}}
	{{#hospital_beds}}<div class="medium-3 columns"><div class="stat">{{ hospital_beds }}</div><p>physicians</p></div>{{/hospital_beds}}
	{{#drinking_water_source_urban_improved}}<div class="medium-3 columns"><div class="stat">{{ drinking_water_source_urban_improved }}</div><p>hospital_beds</p></div>{{/drinking_water_source_urban_improved}}
	{{#drinking_water_source_rural_improved}}<div class="medium-3 columns"><div class="stat">{{ drinking_water_source_rural_improved }}</div><p>drinking_water_source_urban_improved</p></div>{{/drinking_water_source_rural_improved}}
	{{#sanitation_facility_access_urban_improved}}<div class="medium-3 columns"><div class="stat">{{ sanitation_facility_access_urban_improved }}</div><p>drinking_water_source_rural_improved</p></div>{{/sanitation_facility_access_urban_improved}}
	{{#sanitation_facility_access_rural_improved}}<div class="medium-3 columns"><div class="stat">{{ sanitation_facility_access_rural_improved }}</div><p>sanitation_facility_access_urban_improved</p></div>{{/sanitation_facility_access_rural_improved}}
	{{#hiv_infection_rate}}<div class="medium-3 columns"><div class="stat">{{ hiv_infection_rate }}</div><p>sanitation_facility_access_rural_improved</p></div>{{/hiv_infection_rate}}
	{{#hiv_infected}}<div class="medium-3 columns"><div class="stat">{{ hiv_infected }}</div><p>hiv_infection_rate</p></div>{{/hiv_infected}}
	{{#hiv_deaths}}<div class="medium-3 columns"><div class="stat">{{ hiv_deaths }}</div><p>hiv_infected</p></div>{{/hiv_deaths}}
	{{#obesity_rate}}<div class="medium-3 columns"><div class="stat">{{ obesity_rate }}</div><p>hiv_deaths</p></div>{{/obesity_rate}}
	{{#underweight_children}}<div class="medium-3 columns"><div class="stat">{{ underweight_children }}</div><p>obesity_rate</p></div>{{/underweight_children}}
	{{#education_expenditures}}<div class="medium-3 columns"><div class="stat">{{ education_expenditures }}</div><p>underweight_children</p></div>{{/education_expenditures}}
	{{#literacy_definition}}<div class="medium-3 columns"><div class="stat">{{ literacy_definition }}</div><p>education_expenditures</p></div>{{/literacy_definition}}
	{{#literacy_total}}<div class="medium-3 columns"><div class="stat">{{ literacy_total }}</div><p>literacy_definition</p></div>{{/literacy_total}}
	{{#literacy_male}}<div class="medium-3 columns"><div class="stat">{{ literacy_male }}</div><p>literacy_total</p></div>{{/literacy_male}}
	{{#literacy_female}}<div class="medium-3 columns"><div class="stat">{{ literacy_female }}</div><p>literacy_male</p></div>{{/literacy_female}}
	{{#school_years_total}}<div class="medium-3 columns"><div class="stat">{{ school_years_total }}</div><p>literacy_female</p></div>{{/school_years_total}}
	{{#school_years_male}}<div class="medium-3 columns"><div class="stat">{{ school_years_male }}</div><p>school_years_total</p></div>{{/school_years_male}}
	{{#school_years_female}}<div class="medium-3 columns"><div class="stat">{{ school_years_female }}</div><p>school_years_male</p></div>{{/school_years_female}}
	{{#child_labor}}<div class="medium-3 columns"><div class="stat">{{ child_labor }}</div><p>school_years_female</p></div>{{/child_labor}}
	{{#child_labor_percentage}}<div class="medium-3 columns"><div class="stat">{{ child_labor_percentage }}</div><p>child_labor</p></div>{{/child_labor_percentage}}
	{{#unemployment_youth_total}}<div class="medium-3 columns"><div class="stat">{{ unemployment_youth_total }}</div><p>child_labor_percentage</p></div>{{/unemployment_youth_total}}
	{{#unemployment_youth_male}}<div class="medium-3 columns"><div class="stat">{{ unemployment_youth_male }}</div><p>unemployment_youth_total</p></div>{{/unemployment_youth_male}}
	{{#unemployment_youth_female}}<div class="medium-3 columns"><div class="stat">{{ unemployment_youth_female }}</div><p>unemployment_youth_male</p></div>{{/unemployment_youth_female}}
{{/people}}