{{#transportation}}
	<div class="row">
		{{#air_carriers}}<div class="medium-6 columns"><div class="stat">{{ air_carriers }}</div><p>air_carriers</p></div>{{/air_carriers}}
		{{#aircraft}}<div class="medium-6 columns"><div class="stat">{{ aircraft }}</div><p>aircraft</p></div>{{/aircraft}}
		{{#aircraft_passengers}}<div class="medium-6 columns"><div class="stat">{{ aircraft_passengers }}</div><p>aircraft_passengers</p></div>{{/aircraft_passengers}}
		{{#aircraft_freight}}<div class="medium-6 columns"><div class="stat">{{ aircraft_freight }}</div><p>aircraft_freight</p></div>{{/aircraft_freight}}
		{{#aircraft_code_prefix}}<div class="medium-6 columns"><div class="stat">{{ aircraft_code_prefix }}</div><p>aircraft_code_prefix</p></div>{{/aircraft_code_prefix}}
		{{#airports}}<div class="medium-6 columns"><div class="stat">{{ airports }}</div><p>airports</p></div>{{/airports}}
		{{#airports_paved}}<div class="medium-6 columns"><div class="stat">{{ airports_paved }}</div><p>airports_paved</p></div>{{/airports_paved}}
		{{#airports_info_date}}<div class="medium-6 columns"><div class="stat">{{ airports_info_date }}</div><p>airports_info_date</p></div>{{/airports_info_date}}
		{{#major_seaports}}<div class="medium-6 columns"><div class="stat">{{ major_seaports }}</div><p>major_seaports</p></div>{{/major_seaports}}
		{{#oil_terminals}}<div class="medium-6 columns"><div class="stat">{{ oil_terminals }}</div><p>oil_terminals</p></div>{{/oil_terminals}}
		{{#cruise_ports}}<div class="medium-6 columns"><div class="stat">{{ cruise_ports }}</div><p>cruise_ports</p></div>{{/cruise_ports}}
	</div>
{{/transportation}}